/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");

/* ====================== ШРИФТИ =============================== */

/*----------------- Підключення шрифтів ----------------------- */

/* Google Fonts */

@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada:regular,700);


/* Підключення вручну */

@font-face {
    font-family: 'jasmine';
    src: url('../fonts/jasmine-Regular.woff2') format('woff2'),
        url('../fonts/jasmine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* font-display:swap; */
}
@font-face {
	font-family: "jasmine";
	src: url('../fonts/jasmine-Regular.woff2') format('woff2'),
        url('../fonts/jasmine-Regular.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		/* font-display: swap; */
}
body{
	font-family: "Montserrat", sans-serif ;
	font-size: 14px;
	font-weight: 400;
	color: rgb(13, 50, 38);
	text-indent: 40px;
	text-transform: lowercase;
	text-align: right;
}
.title {
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 12px;
	line-height: 1.9;
	text-shadow: -3px -3px #1f7909, 3px 3px 4px red;
	
}

.text {
	text-decoration: underline;
	text-shadow: 2px 2px 5px #000, -2px -2px 2px red;
}

.text1 {
	font-family: "jasmine";
	font-size: 17px;
	font-weight: 500;
	font-style: normal;
	text-indent: 45px;
	text-transform: capitalize;
	text-align: center;
	text-indent: 2px;
	line-height: 1.3;
	text-decoration: overline;
	letter-spacing: 5px;
	color:#1f7909;
}

.text2 {
	font-family: "jasmine";
	font-weight: 700;
	font-size: 18px;
	font-style: oblique;
	line-height: 1.1;
	text-align: justify;
	text-indent: 4px;
	word-spacing: 2px;
	text-decoration: underline;
	text-indent: 12px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color:brown;
}

.text3 {
	font-family: "jasmie";
	font-weight: 500;
	font-size: 12px;
	font-style: normal;
	line-height: 1.7;
	text-align:left;
	text-indent: 10px;
	letter-spacing: normal;
	white-space:  normal;
	word-spacing: 3px;
	text-align: left;
	text-decoration: underline;
	text-transform: lowercase;
	color:red;
}
.text4 {
	font-family: "Montserrat", sans-serif ;
	font-size: 21px;
	line-height: 1.4;
	font-weight: 200;
	font-style: oblique;
	text-indent: 7px;
	letter-spacing: 2px;
	white-space:nowrap;
	word-spacing: 5px;
	text-align: justify;
	text-decoration: line-through;
	text-transform: capitalize;
	color:orange;
}

.text5 {
	font-family: "Montserrat", sans-serif ;
	font-size: 13px;
	line-height: 1.1;
	font-weight: 600;
	font-style: oblique;
	text-indent: 3px;
	letter-spacing: 2px;
	white-space:none;
	word-spacing: 3px;
	text-align: justify;
	text-decoration: none;
	text-transform: capitalize;
	color:blue;
	text-shadow: -2px -2px 5px #000, 2px 2px 2px red;
}