/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
* {
	color:blueviolet;
}
div {
	color:black;
}
a {
	color: green;
}


.text {
	 color: red;
}

/* Тип №3. Селектор ID */
/* Шукаємо (робимо запит по назві ID) */
/* спочатку # потім значення ID */
#list * {
	 color: red;
}

#list1 * {
	color:black;
}

/* КОМБІНАЦІЇ СЕЛЕКТОРІВ */

/* Усі DIV з класом text */
div.text {
	 color: chartreuse;
}
/* Усі теги з класами lesson 
	та text одночасно 
	НІЯКИХ ПРОБІЛІВ МІЖ КЛАСАМИ!
*/
.lesson.text {
	color: brown; 
}

/* Звертаємось відразу до кількох класів */
.lesson {
	color:yellow;
}
.text {
	 color: red;
	
}

/* Звертаємось відразу до об'єктів з класом lesson та
	до об'єктів з класом text
 */

.lesson,
.text {
	 color: blue; 
}

/* КАСКАДНІСТЬ (ВКЛАДЕНІСТЬ) СЕЛЕКТОРІВ */
/* ОБОВ'ЯЗКОВО ПРОБІЛ МІЖ ЕЛЕМЕНТАМИ */

/* Усі теги P в середені об'єктів з класом text
	рівень вкладеності значення немає
 */
.text p {
	color: red;
}

/* Усі об'єкти з класом lesson в середені 
	об'єктів з класом text 
*/
.text .lesson {
	color:black;
}

/* Усі об'єкти в середені 
об'єктів з класом text */
.text * {
	color: green;
}

/* Усі теги P першого рівня (безпосередні) 
	в середені об'єктів з класом text 
*/
.text > p {
	color: black;
}
/*
Усі теги P які знаходяться 
далі по коду після об'єктів з класом text
та мають той самий рівень вкладеності
*/
.text1 ~ p {
	 color: red;
}

.text1 + p {
	 color: red; 
	}

/* Селектори атрибутів */
[class*="_container"] {
	color: green;
}


