@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
.car {
	position: relative;
	top: 110px;
	left: 100px;
	width: 300px;
	height: 180px;
	background-color: green;
	border-radius: 150px 200px 5px 5px;
}
.car__bamper {
	position: relative;
	top: 170px;
	left: -20px;
	width: 350px;
	height: 30px;
	border-radius: 20px;
	background-color: rgb(200, 200, 202);
}
.car__fonar_first {
	position: relative;
	top: 110px;
	left: 290px;
	width: 30px;
	height: 30px;
	border-radius: 50% 0 0 50%;
	background-color: black;
}
.car__second_fonar {
	position: relative;
	top: 80px;
	left: -15px;
	width: 30px;
	height: 30px;
	border-radius: 0 50% 50% 0;
	background-color: black;
}

.car__steklo_first {
	position: absolute;
	top: 30px;
	left: 160px;
	width: 85px;
	height: 70px;
	border-radius: 0 90% 0 0;
	background-color: #fff;
}
.car__second_steklo {
	position: absolute;
	top: 30px;
	left: 40px;
	width: 85px;
	height: 70px;
	border-radius: 90% 0% 0% 0%;
	background-color: #fff;
}

.car__ruchka_first {
	position: relative;
	top: 20px;
	left: 80px;
	width: 30px;
	height: 15px;
	border-radius: 30%;
	background-color: #fff;
}
.car__second_ruchka {
	position: relative;
	top: 5px;
	left: 170px;
	width: 30px;
	height: 15px;
	border-radius: 30%;
	background-color: #fff;
}

.car__wheels {
}
.car__wheels_first {
	position: absolute;
	top: 160px;
	left: 200px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: blueviolet;
	outline: dashed black;
}
.car__wheels_second {
	position: absolute;
	top: 160px;
	left: 30px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: blueviolet;
	outline: dashed black;
}
