@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Inter:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");

/* 1. Должны быть треугольники, 
2. Addionational 
3. Проверить чекбоксы
 */

body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5; /* 24px/16 */
	color: #e7e7e7;
}
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ---------------------------- */
.page__container {
	display: flex;
	max-width: 1270px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.page__header {
	display: flex;
	font-family: "Inter", sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.25; /* 30px/24 */
	color: #212b36;
	margin: 30px 0 30px 0;
	text-transform: capitalize;
	/* margin: 0 auto; */
}
.page__block {
	margin: 0 auto;
}
.page__form {
	display: flex;
	flex-direction: column;
	/* justify-content: end;
	flex-direction: column;
	align-items: center; */
	/* position: relative;
	left: -390px;
	top: 20px; */
	/* align-items: flex-start; */
	/* flex-direction: column; */
	/* padding-top: 10px; */
	color: #637381;
	/* Текст внутри полей ввода */
}
.page__names {
	display: flex;
	margin-bottom: 30px;
}
.page__first-name {
	/* display: flex; */
	border: #e7e7e7 1px solid;
	margin-right: 28px;
	border-radius: 3px;
}
/* .input {
	display: flex;
} */
.page__last-name {
	/* display: flex; */
	border: #e7e7e7 1px solid;
	border-radius: 3px;
}

.page__addresses {
	display: flex;
	margin-bottom: 30px;
}
.page__address {
	/* display: flex; */
	margin-right: 28px;
	border: #e7e7e7 1px solid;
	border-radius: 3px;
}

.page__address-line2 {
	/* display: flex; */
	border: #e7e7e7 1px solid;
	border-radius: 3px;
}

.page__contreis {
	/* display: flex; */
	margin-bottom: 30px;
}
.page__country {
	display: inline-block;
	margin-right: 28px;
	border: #e7e7e7 1px solid;
	border-radius: 3px;
	/* padding: 10px;
	background: url(../img/triangle.svg) 0 0 no-repeat; */
}
.page__country::after {
	content: "";
	background: url(../img/triangle.svg) 0 0 no-repeat;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.page__city-town {
	display: inline-block;
	border: #e7e7e7 1px solid;
	border-radius: 3px;
}

.page__postcodes {
	display: flex;
	margin-bottom: 30px;
	/* border: #e7e7e7 1px solid; */
}
.page__postcode {
	margin-right: 28px;
	border: #e7e7e7 1px solid;
	border-radius: 3px;
}

.page__phone {
	border: #e7e7e7 1px solid;
	border-radius: 3px;
}
.page__zips {
	display: flex;
	margin-bottom: 30px;
	/* border: #e7e7e7 1px solid; */
}
.page__zip {
	border: #e7e7e7 1px solid;
	border-radius: 3px;
	margin-right: 28px;
}

.page__telephone {
	border: #e7e7e7 1px solid;
	border-radius: 3px;
}
.page__text-area {
	/* border-color: #000000; */
}
.page__area {
	border: #e7e7e7 1px solid;
	width: 100%;
	border-radius: 3px;
	height: 180px;
	text-align: left;
	margin-bottom: 36px;
}

.page__codes {
	display: flex;
	margin-bottom: 30px;
}
.page__cupon-code {
	border: #e7e7e7 1px solid;
	border-radius: 3px;
	margin-right: 20px;
	text-align: center;
}

.page__code {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5; /* 24px/16 */
	/* width: 135px; */
	border-radius: 3px;
	color: #fff;
	background-color: #212b36;
	text-align: center;
	
	/* align-content: center; */
	/* margin-bottom: 50px; */
}
.page__shipping {
	font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 2.83; /* 68px/24 */
    color: #000000;
	margin-top: 48px;
	margin-bottom: 35px;
}
.page__name {

    /* border: #e7e7e7 1px solid;
    margin-right: 28px;
    border-radius: 3px; */
}
.page__email,
.page__password,
.page__codepost,
.page__name-first,
.page__name-last,
.page__company,
.page__street,
.page__nation,
.page__state
{
	font-family: "Roboto" ,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25; /* 20px/16 */
    color: #3F3F3F;
	/* margin-right: 40px; */
}




.page__labelemail,
.page__codespost {
	margin-right: 40px;
	
	/* margin-bottom: 27px; */
	
}

span{
	color: red;
}
.page__email,
.page__password {
	margin-bottom: 27px;
	
}
.page__codepost {
	margin-bottom: 14px;
}

.page__emaillabel,
.page__pass,
.page__codepost-one,
.page__name-first-one,
.page__name-last-one,
.page__company-one,
.page__street-one,
.page__street-two,
.page__street-three,
.page__nation-one,
.page__state-one {
	width: 451px;
	height: 44px;
	border: 1px solid #C4C4C4;
	
}
.page__name-first-one,
.page__name-last-one {
	margin-left: 67px;
	margin-bottom: 24px;
}
.page__company-one {
	margin-left: 88px;
	margin-bottom: 24px;
}


.page__password {
}
.page__passarea {
	margin-right: 84px;
	
}
.page__pass {
	
}
.page__codepost {
}
.page__codespost {
}
.page__codepost-one {
}
.page__text {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.43; /* 20px/14px */
	color: #828282;
	margin-bottom: 75px;
}


.page__forgot {
	margin-left: 25px;
	margin-top: 12px;;
}
.page__forgots {
}
.page__line {
}
.page__name-first {
}
.page__name-first-one {
}
.page__last-name {
	
}
.page__last-name-one {
}
.page__company {
}
.page__company-one {
}
.page__street {
	
	/* display: flex;
	flex-direction: column; */
}
.page__street-one {

	display: flex;
	position: relative;
	top: -20px;
	left: 159px;
}
.page__street-two {
	display: flex;
	position: relative;
	top:0px;
	left: 159px;
}
.page__street-three {
	display: flex;
	position: relative;
	top:24px;
	left: 159px;
	
}
.page__nation {
	margin-top: 50px;
	/* display: flex;
	position: relative;
	top: 50px;
	left:93px; */
}
.page__nation-one {
	margin-left: 90px;
	
}
.page__state {
	margin-top: 24px;
	
}
/* 
.page__state::before {
	background: url(../img/state.svg) no-repeat center cover;
} */

.page__state-one {
	margin-left: 40px;
	background: url(../img/triangle.svg) 100% 16px / 16px no-repeat ;
	
}



	

.page__shipping {
	text-transform: capitalize;
}
.page__cents {
}
.page__radio {
	display: flex;
}
.page__radio-fixed {
}
.page__table-radio {
}
.page__next-button {
}
.page__next {
}
.page__back-button {
}

.page__butt{
	display: block;
	padding: 3px;
}



.page__button-forgot
{
	display: flex;
	margin-bottom: 36px;
	align-items:baseline;
}
.page__button {
	display: block;
	font-family: "Oswald", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5; 
	color: #FFFFFF;
	border-radius: 3px;
	background-color: #212b36;
	text-align: center;
	/* display: inline-block;  */
	text-align: center;
	/* vertical-align: middle; */
	/* width: 120px; */
	/* height: 50px; */
	text-transform: uppercase;
	/* padding: 10px; */
	
}

.page__buttons {
	display: block;
	padding: 10px;
	/* width: 120px;
	height: 50px;
	padding-top: 12px; */
}

.page__forgots
{
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.43; /* 20px/14 */
text-transform: capitalize;
color:#0F6DB1;
display: inline-block;
}
hr {
	border: 1px solid #C4C4C4;
	margin-bottom: 39px;
}

.page__dollar,
.page__dollars {
	margin-left: 10px;
}

.page__fixed,
.page__flat {
	margin-left: 20px;
}

/* .page__flate, */
.page__radio2,
.page__dollars,
.page__table,
.page__best
{
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.43; /* 20px/14 */
color: #3F3F3F;
text-transform: capitalize;
display:flex;

}
.page__dollar,
.page__fixed,
.page__flat	{
	color: #000000;
	font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43; /* 20px/14 */
	text-transform: capitalize;
	display: flex;
	
}

.page__dollars {
    color: #828282;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43; /* 20px/14 */
	/* margin-left: 20px; */
}

/* .page__fixed,
.page__table {
margin-left: 28px;
margin-right: 100px;
} */

.page__buttons-down {
	display: flex;
	margin-top: 36px;
	margin-bottom: 50px;
}

.page__next-button {

	
	font-family: "Oswald", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5; /* 21px/14 */
	color: #FFFFFF;
    border-radius: 3px;
    background-color: #212b36;
	text-align: center;
    /* width: 120px;
    height: 50px; */
    text-transform: uppercase;

	
}

.page__next {
	display: block;
	padding: 10px;
	/* padding-top: 12px;
	padding-bottom: 12px; */
} 

.page__back-button {
	/* display: flex; */
	margin-left: 455px;
}


.page__back
{
font-family: "Oswald" ,sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 21px;
color: #828282;
text-transform: uppercase;
}