/* ======================================================== */
/* --------------- CSS-властивості блоків ----------------- */
/* ======================================================== */
body{
	font-family: "Popins", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	color:rgba(108, 117, 125, 1);
}
/*border: black 1px solid;*/

.title4 {
	height: 80px;
width: 400px;
left: 312px;
top: 615px;


}

h1{
font-family: "Popins", sans-serif;
font-size: 25px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color:black;

}

