/* ======================================================== */
/* --------------- CSS-властивості блоків ----------------- */
/* ======================================================== */
div.zagolovok
{
	padding: 30px 0 0;

}
.htitle{
	border: 1px solid black;
	font-family: "Popins";
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	width: 400px;
	height: 80px;
	display: inline-block;
	margin: 0 0 0 312px;
	
}
.text > p {
	font-family: "Popins";
	font-size: 14px;
	color: rgba(108, 117, 125,1);



}